.list-item-card {
    position: fixed; 
    width: 40%; 
    height: 60%; 
    top: 25%;
  left: 30%;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.05); 
  z-index: 2;
  cursor: pointer;
  color: white;
  border: 1px solid rgb(20, 143, 204);
}